fastapi
uvicorn
python-multipart
jinja2
langchain
langchain-classic
langchain-community
langchain-aws
boto3
qdrant-client
langchain-qdrant
pydantic-settings
pypdf
werkzeug
langchain-text-splitters
langchain-ollama
gunicorn